<article>
  <h3><%= link_to captioned_image.title, captioned_image %></h3>
  <div>
  <%= link_to image_tag(captioned_image.image_url, alt: captioned_image.title, class: 'img-polaroid'), captioned_image %>
  </div>
  <br>
  <p>
  <%= link_to 'Adoption Info', captioned_image.adoption_info_url, class: 'btn btn-large btn-warning' %>
  <br />
  <%# TODO: extract into presenter %>
  <div class='social-share'>
    <span class='st_facebook_vcount' displayText='Facebook'></span>
    <span class='st_twitter_vcount' displayText='Tweet'></span>
    <span class='st_pinterest_vcount' displayText='Pinterest'></span>
    <span class='st_email_vcount' displayText='Email'></span>
  </div>
  </p>
</article>
